{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
  <div class="row">
    <div class="col-lg-6 offset-lg-3 text-left">
      <h1 class="page-heading">/ Dev Connect</h1>
      <hr>
      <div class="about-para">
        <p>Welcome to Dev Connect! This platform connects developers and empowers innovation. Here, you can find
          resources, tips, and insights to enhance your coding journey. It is for developers of all stages/levels where
          we can all support eachother & grow together!</p>
        <p>To get started, follow the steps below:</p>
        <ul>
          <li><strong>Read posts:</strong> Explore a wide range of posts shared by other developers. Learn from their
            experiences, gain insights, and stay updated with the latest trends in the tech industry.</li>
          <li><strong>Comment on posts:</strong> Engage in discussions by commenting on posts shared by other
            developers. Share your thoughts, provide feedback, and exchange knowledge.</li>
          <li><strong>Like posts:</strong> Show appreciation for posts you find interesting or valuable by liking them.
            This helps to promote quality content and recognize contributions from fellow developers.</li>
        </ul>
      </div>
    </div>
    <div class="col-lg-6 offset-lg-3 text-left">
      <h3 class="page-heading">/ Post Categories</h3>
      <hr>
      <div class="cat-para">
        <p>Posts cover a wide range of topics and are categorised as follows:</p>
        <ul>
          <li><strong>Interview Tips & Tricks:</strong> Discover valuable tips and tricks for acing coding interviews
            and impressing potential employers.</li>
          <li><strong>Coding Resources: </strong> Explore a wide range of coding resources, tutorials, and tools to
            enhance your development skills.</li>
          <li><strong>Tech Explained: </strong> Explore different resources that explains different tech related content.</li>
          <li><strong>Career Development:</strong> Get valuable insights and guidance on advancing your career in the
            tech industry..</li>
          <li><strong>AI:</strong> Explore the fascinating world of Artificial Intelligence and its impact on various
            industries.</li>
        </ul>
      </div>
    </div>

    <div class="col-lg-6 offset-lg-3 text-left">
      <h3 class="page-heading"> / Commenting Guidelines </h3>
      <hr>
      <div class="cat-para">
        <p> We encourage you to share your thoughts, ideas, and experiences with
          our community. However, we kindly request that you adhere to the following guidelines when commenting on
          posts:</p>
        <ul>
          <li><strong>Respectful Language:</strong> Please ensure that your posts are written in a respectful
            and considerate manner. Treat others with kindness and avoid any form of offensive or derogatory
            language.</li>
          <li><strong>Constructive Content:</strong> Share valuable insights, helpful information, or engaging
            stories. Your comments should contribute positively to the community and promote meaningful
            discussions.</li>
          <li><strong>Relevant and Appropriate:</strong> Make sure your comments are relevant to the topic or
            theme of the platform. Avoid commenting content that is unrelated or irrelevant.</li>
          <li><strong>Monitored Content:</strong> Please note that all posts are monitored by our team to
            maintain a safe and inclusive environment. Any posts violating our guidelines may be removed
            without notice.</li>
        </ul>
      </div>

    </div>
  </div>
</div>

{%endblock%}