{% extends "base.html" %}

{% block content %}
<p>this is about.html file</p>
<div class="container">
  <div class="row">
    <div class="col-lg-6 offset-lg-3 text-center">
      <h1 class="about-heading">Dev Connect</h1>
      <div class="about-para">
        <p>Welcome to Dev Connect! This platform connects developers and empowers innovation. Here, you can find
          resources, tips, and insights to enhance your coding journey. It is for developers of all stages/levels where we can all support eachother & grow together!</p>
      </div>
    </div>
  </div>
</div>

{%endblock%}