{% extends 'base.html' %}

{% block content %}

{% load crispy_forms_tags %}

<div class="container mt-5">
    <div class="row">
        <div class="col-lg-6 offset-lg-3 text-left">
            <h1 class="page-heading">/ Add Post</h1>
            <hr>
            <div class="about-para">
                <p>Welcome to the Add Post section! We encourage you to share your thoughts, ideas, and experiences with
                    our community. However, we kindly request that you adhere to the following guidelines:</p>
                <ol>
                    <li><strong>Respectful Language:</strong> Please ensure that your posts are written in a respectful
                        and considerate manner. Treat others with kindness and avoid any form of offensive or derogatory
                        language.</li>
                    <li><strong>Constructive Content:</strong> Share valuable insights, helpful information, or engaging
                        stories. Your posts should contribute positively to the community and promote meaningful
                        discussions.</li>
                    <li><strong>Relevant and Appropriate:</strong> Make sure your posts are relevant to the topic or
                        theme of the platform. Avoid posting content that is unrelated or irrelevant.</li>
                    <li><strong>Monitored Content:</strong> Please note that all posts are monitored by our team to
                        maintain a safe and inclusive environment. Any posts violating our guidelines may be removed
                        without notice.</li>
                </ol>
                <p>By posting in this section, you acknowledge that you have read and understood these guidelines. Let's
                    create a positive and supportive community together!</p>
                <div class=" post-form col mt-3 mb-5">
                    <form action="#" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-6">
                                TITLE                             
                            </div>
                        </div>
                        <div class="row">
                            CONTENT                      
                        </div>
                        <div class="row">
                            IMAGE
                            <p>If no image is uploaded a default image will be displayed</p>
                        </div>
                        <button class=" btn btn-signup btn-lg form-btn" type="submit">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    {% endblock content %}