{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <p>this is the index.html file</p>
        <!-- Blog Entries Column -->
        <div class="col-12 mt-3 left">
            <div class="row">
                <!-- creating a for loop of list of posts that will be passed in from our view  -->
               {% for post in post_list %}
            </div>
        </div>
    </div>
    <div class="row">
        {% endfor %}
    </div>
</div>

{%endblock%}